doctype html
html(lang="en")
  head
    title= title
    if showTests
        link(rel="stylesheet", href="/vendor/mocha.css")
    script(src="//code.jquery.com/jquery-2.0.2.min.js")
  body
    h1= title
    header
        img(src='/images/cover.jpg', style='width:500px; height:400px')
    p Your random quote is #{randomQuote}
    a#FBLogin(href="/auth/facebook") Facebook Login

    if reqInfo
        p !{reqInfo}


    if showTests
        div#mocha
        script(src="/vendor/mocha.js")
        script(src="/vendor/chai.js")
        script.
            mocha.ui('tdd');
            var assert = chai.assert;
        script(src='/qa/tests-global.js')
        if pageTestScript
            script(src="#{pageTestScript}")
        script.
            mocha.run();

